@model WebApplication1.Manager.Students.CreateOrUpdateStudent
 @{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddStudent</title>
</head>
<body>
    @using (Html.BeginForm("create", "Student", FormMethod.Post))
    {

        <lable> Student: </lable>
        <input id="Name" type="text" name="Name" /><br /><br />
        <input type="submit" value="add student" />

    }
    @Html.ActionLink("Nazad", "ShowStudent")
</body>
</html>
